body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 20px 10%;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
   
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.info-2 {
    font-size: 18px;
    font-weight: bolder;
}

.info-2 {
    font-size: 18px;
    font-weight: bolder;
}