body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 20px 10%;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10%;

}

.info-2 {
    font-size: 18px;
    font-weight: bolder;
}

.info-2 {
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 10px;
}

.player-choices {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.option {
    max-width: 100px;
    text-align: center;
}

.btn {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.picks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.pick {
    max-width: 100px;
    text-align: center;
    
}

.score-board {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.scores {
    max-width: 100px;
    text-align: center;
}

.scores img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    border: #ffffff;
    border-width: 3px;
    border-style: solid;
}

.sign {
    font-size: 75px;
    padding: 10px;

}

.pick img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    border: #ffffff;
    border-width: 3px;
    border-style: solid;
}

.modal {
    position: fixed;
    z-index: 1;
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 35%;
    left: 50%;
    background-color: #1F2937;
    transform: translate(-50%, -50%) scale(0);
}

modal.active